$audio_text_color1: #2e3192;
$audio_text_color2: #3fa9f5;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}
.audio-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.audio-player{
  background: #eff3f5;
  border-radius: 30px;
  max-width: 380px;
  width: 100%;
  padding: 25px;

  .audio-author{
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    color: $audio_text_color1;
    text-align: center;
    margin-top: 12px;
  }
  .audio-song{
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    color: $audio_text_color2;
    text-align: center;
    margin-top: 12px;
  }
  .audio-progress-container{
    background-color: $audio_text_color1;
    border-radius: 5px;
    width: 100%;
    height: 12px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 3px;
    padding-right: 3px;
    .audio-progress{
      background-color: $audio_text_color2;
      border-radius: 5px;
      height: 6px;
    }
  }
  .audio-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 184px;
    width: 100%;
    margin: 40px auto 0;
    .audio-btn{
      transform: scale(1.5);
      cursor: pointer;
      &.play{
        transform: scale(2);
      }
    }
  }
}

